{% block content %}

<h1 class="menu">6. Measurement of components and modules<br>
    6.3 Conducted emissions from components/modules - Voltage method</h1>

<div class="atmtv">
    <table>
        <caption>
          ...
        </caption>
        <thead>
          <tr>
            <td>Software&Equipment</td>
            <td>R&S Elektra / cart #08</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The conducted emissions on power lines are measured successively on <mark><b>positive</b></mark> power 
              supply <b>and</b> power <mark><b>return</b></mark> by connecting the measuring instrument on the measuring port
               of the related AN, with the measuring port of the AN in the <mark>other supply lines being terminated with a 50 Ω load</mark>.</td>
            <td><img src="/automotive/static/images/cispr25-63/lisns.png"></td>
          </tr>
          <tr>
            <td><img src="/automotive/static/images/cispr25-63/setup_photo.png"><br>
              <ul>For voltage measurements the following apply:
              <li>For EUT remotely grounded (<b>vehicle power return line longer than 200 mm</b>), the voltage
              measurements shall be made on each lead (supply and return) relative to the reference
              ground plane (see Figure 9).</li>
            </ul></td>
            <td><img src="/automotive/static/images/cispr25-63/voltage_method_setup.png"></td>
          </tr>
          <tr>
            <td><ul><li>For EUT locally grounded (<b>vehicle power return line 200 mm or shorter</b>), voltage
              measurements on power supply leads shall be made relative to the reference ground
              plane (see Figure 10).</li></ul></td>
            <td><img src="/automotive/static/images/cispr25-63/voltage_method_setup2.png"></td>
          </tr>
          <tr>
            <td>Limits:</td>
            <td><img src="/automotive/static/images/cispr25-63/limits.png"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="1">Average age</th>
            <td>33</td>
          </tr>
        </tfoot>
      </table>
</div>


{% endblock %}