{% block content %}

<h4 class="menu">R10 rev.6, Annex 7/8, Appendix 9/7<br>Immunity of ESAs to electromagnetic radiation, Free field 100-2000 MHz<br>
according to paragraph 6.4 Radiated emissions from components/modules ALSE method</h4>
<div class="atmtv">
    <table>
        <caption align="top"><a href="/automotive/emission/cispr25-65">CISPR 25 6.5</a></caption>
        <tbody>
            <tr>
                <td><img src="/automotive/static/images/r10/overcover.png"></td>
                <td></td>
                <td>Limits</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}                