{% block content %}

<h4 class="menu" >5.3.6 Interference emission (Antenna method)</h4>

<div class="atmtv">
    <img src="/automotive/static/images/tl_81000-536/methods.png">
<table>
    <tbody>
        <tr>
            <td>Antenna systems:</td>
            <td><img src="/automotive/static/images/cispr25-65/antennas.png"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <li>rod antenna test setup (<mark>9 kHz - 30 MHz</mark>)</li>
                <li>biconical antenna test setup (<mark>30 - 200 MHz</mark>)</li>
                <li>log periodic antenna test setup (<mark>200 - 1000 MHz</mark>)</li>
                <li>horn antenna test setup (<mark>1000 - 6000 MHz</mark>)</li>
            </td>
        </tr>
        
        <tr>
            <td><ul>Test setup:
                <li>The test setup is described in <a href="/automotive/emission/cispr25-65">CISPR 25</a>.</li>
            </ul></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="/automotive/static/images/tl_81000-536/compare.png"><p></p>
                <ul>In principle, measurements may be conducted with the <mark>peak detector in all ranges</mark>.<br>If the peak measured value lies below the quasi-peak limit, the quasi-peak limit is fulfilled.</ul></td>
            <td><img src="/automotive/static/images/tl_81000-536/limits01.png"></td>
        </tr>
        <tr>
            <td><img src="/automotive/static/images/tl_81000-536/limits02.png"></td>
            <td><img src="/automotive/static/images/tl_81000-536/limits03.png"></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}