{% block content %}

<h4 class="menu" >5.3.5 Artificial network (AN test)</h4>

<div class="atmtv">
<table>
    <caption align="top">The HF emissions on power supply cables must be measured as per <a href="/automotive/emission/cispr25-63">CISPR 25 6.3</a>.</caption>
    <tbody>
        <tr>
            <td><ul>Test conditions:
                <li>The standard test conditions as per section 5.3.3.2 must be applied.<br>
                    <img src="/automotive/static/images/tl_81000-535/increments.png"></li>
                <li>If the DUT has several power supplies, each power supply must be measured individually.</li>
            </ul></td>
            <td><img src="/automotive/static/images/cispr25-63/voltage_method_setup.png"></td>
        </tr>
        
        <tr>
            <td><img src="/automotive/static/images/cispr25-63/voltage_method.png"></td>
            <td><img src="/automotive/static/images/tl_81000-535/limits.png"></td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}