{% block content %}
<h1 class="menu">Military Susceptibility section</h1>

<table class="demo">
  <caption style="caption-side:top">
    <img src="{{ url_for('military.static', filename='images/plane.jpg') }}" alt="Military Image"><br>
    Emission Test List (based on MIL-STD-461)
  </caption>
  <thead>
    <tr>
      <th>Test</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/military/susceptibility/rs103">RS103</a></td>
      <td>Radiated susceptibility, electric field</td>
    </tr>
    <tr>
      <td><a href="/military/susceptibility/sec205">RTCA Section 20.5</a></td>
      <td>Radiated Susceptibility (RS) Test - Anechoic Chamber Method</td>
    </tr>
    <tr>
      <td><a href="/military/susceptibility/cs101">CS101</a></td>
      <td>Conducted susceptibility, power leads</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/cispr25-65">Military Emission section</a></td>
      <td>Under construction</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/7637-2-43">Military Emission section</a></td>
      <td>Under construction</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/tl81000-535">Military Emission section</a></td>
      <td>Under construction</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/tl81000-536">Military Emission section</a></td>
      <td>Under construction</td>
    </tr>
  </tbody>
</table>
{% endblock %}