{% extends "military_emission_header.html" %}

{% block content %}

    {% set test_templates = {
        "ce102": "emission/mil-std-461-ce102.html",
        "re102": "emission/mil-std-461-re102.html",
        "re102v2": "/emission/re102/mil-std-461-re102.html",
        "cispr25-64": "emission/cispr25-64.html",
        "cispr25-65": "emission/cispr25-65.html",
        "7637-2-43": "emission/iso_7637-2-43.html",
        "tl81000-535": "emission/tl_81000-535.html",
        "tl81000-536": "emission/tl_81000-536.html"
    } %}

    {% include test_templates.get(test, "military_emission.html") %}

{% endblock %}

