body {
  background-color: white;
  border: 5px solid rgb(209, 209, 255);
  min-height: 1280px;
  padding: 20px;
  /* Add padding around the content */
  border-radius: 20px;
  #padding-top: 80px; /* отступ сверху, чтобы контент не перекрывал navbar */
  caption-side: top;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Убедитесь, что navbar выше других элементов */
  background-color: white;
  /* Пример цвета фона для navbar */
  border-bottom: 3px solid #00364A;
  /* Пример границы для разделения */
}
.navbar a:hover {
  color: #007BFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.3);
}

p {
  color: red;
}

mark {
  background-color: #00364A !important;
  /* Цвет фона для выделенного текста */
  color: white !important;
  /* Цвет текста для выделенного текста */
}

table {
  margin: 0 auto;
  width: 80%;
  border: 3px solid;
  border-collapse: collapse;
}

table,
th,
td {
  border: 3px solid;
}

.menu {
  color: navy;
  text-align: center;
  vertical-align: top;
}
.menu p {
  color: navy;
  text-align: center;
}

/* Automotive style */
.atmtv {
  border-color: #00A1DB;
  color: #00506E;
}

.atmtv td,
th {
  width: 50%;
  border: 1px solid;
  padding: 10px;
  /* Добавляем отступы */
}

.atmtv img {
  display: block;
  /* Преобразует изображения в блочные элементы */
  margin: 0 auto;
  /* Автоматически выравнивает по горизонтали */
  width: 480px;
  /* Устанавливает ширину изображения */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  /* Добавляет тень */
  border-radius: 5px;
  /* Добавляет скругленные углы */
  transition: box-shadow 0.3s ease-in-out;
  /* Добавляет плавный переход для тени */
}

.atmtv img.lazyload {
  opacity: 0;
  transition: opacity 300ms;
}

.atmtv img.lazyloaded {
  opacity: 1;
}

.atmtv img:hover {
  box-shadow: 0 10px 24px rgba(0, 80, 110, 1);
  /* Увеличивает тень при наведении */
}

.l-atmtv {
  text-align: left;
}

.r-atmtv {
  text-align: right;
}

.scope {
  text-align: left;
}

.scope th {
  width: 20%;
}

.scope img {
  width: 90%;
  height: auto;
}

/* Military style */
.mil {
  border-color: #9FBF8F;
  color: #364021;
}

.mil td,
th {
  width: 50%;
  border: 1px solid;
  padding: 10px;
  /* Добавляем отступы */
}

.mil caption {
  caption-side: top;
}

.mil img {
  display: block;
  /* Преобразует изображения в блочные элементы */
  margin: 0 auto;
  /* Автоматически выравнивает по горизонтали */
  width: 480px;
  /* Устанавливает ширину изображения */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  /* Добавляет тень */
  border-radius: 5px;
  /* Добавляет скругленные углы */
  transition: box-shadow 0.3s ease-in-out;
  /* Добавляет плавный переход для тени */
}

.mil img:hover {
  box-shadow: 0 10px 24px rgba(54, 63, 33, 1);
  /* Увеличивает тень при наведении */
}