{% block content %}
<h1 class="menu">Automotive Emission section</h1>

<table class="demo">
  <caption style="caption-side:top">
    <img src="{{ url_for('automotive.static', filename='images/vw4.jpg') }}" alt="Automotive Image">
    Emission Test List
  </caption>
  <thead>
    <tr>
      <th>Test</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/automotive/emission/r10">R 10 rev.6</a></td>
      <td>cell2_1</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/cispr25-63">CISPR 25 6.3</a></td>
      <td>Conducted emissions from components/modules - Voltage method</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/cispr25-64">CISPR 25 6.4</a></td>
      <td>Conducted emissions from components/modules - current probe method</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/cispr25-65">CISPR 25 6.5</a></td>
      <td>Radiated emissions from components/modules - ALSE method</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/7637-2-43">ISO 7637-2 4.3</a></td>
      <td>Voltage transient emissions test (Slow and fast pulses)</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/tl81000-535">TL 81000 5.3.5 (VW 2021)</a></td>
      <td>Artificial network (AN test)</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/tl81000-536">TL 81000 5.3.6 (VW 2021)</a></td>
      <td>Antennas (RE test)</td>
    </tr>
    <tr>
      <td><a href="/automotive/emission/tl81000-5432">TL 81000 5.4.3.2 (2018 and 2021)</a></td>
      <td>Pulses</td>
    </tr>
  </tbody>
</table>
{% endblock %}