{% extends "automotive_immunity_header.html" %}

{% block content %}

    {% set test_templates = {
        "11452-2": "immunity/iso_11452-2.html",
        "11452-4": "immunity/iso_11452-4.html",
        "11452-5": "immunity/iso_11452-5.html",
        "11452-9": "immunity/iso_11452-9.html",
        "7637-2-44": "immunity/iso_7637-2-44.html",
        "tl81000-522": "immunity/tl_81000-522.html",
        "tl81000-523": "immunity/tl_81000-523.html",
        "tl81000-524": "immunity/tl_81000-524.html",
        "tl81000-525": "immunity/tl_81000-525.html",
        "tl81000-5431": "immunity/tl_81000-5431.html"
    } %}

    {% include test_templates.get(test, "automotive_immunity.html") %}

{% endblock %}
