{% block content %}
<h1 class="menu">Automotive Immunity section</h1>

<table class="demo">
  <caption style="caption-side:top">
    <img src="{{ url_for('automotive.static', filename='images/vw4.jpg') }}" alt="Automotive Image">
    Immunity Test List
  </caption>
  <thead>
    <tr>
      <th>Test</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/automotive/immunity/11452-2">ISO 11452-2</a></td>
      <td>Part 2: Absorber-lined shielded enclosure</td>
    </tr>
    <tr>
      <td><a href="/automotive/immunity/11452-4">ISO 11452-4</a></td>
      <td>Part 4: The Bulk Current Injection (BCI)</td>
    </tr>
    <tr>
      <td><a href="/automotive/immunity/11452-5">ISO 11452-5</a></td>
      <td>Part 5: Stripline (SL)</td>
    </tr>
    <tr>
      <td><a href="/automotive/immunity/11452-9">ISO 11452-9</a></td>
      <td>Part 9: Portable transmitters</td>
    </tr>
    <tr>
      <td><a href="/automotive/immunity/7637-2-44">ISO 7637-2 4.4</a></td>
      <td>Part 2: Electrical transient conduction along supply lines only (Pulse 1, 2a/2b, 3a/3b, 4)</td>
    </tr>
    <tr>
      <td><ul><a href="/automotive/immunity/tl81000-522">TL 81000 5.2.2 (VW 2021)</a></ul></td>
      <td>BCI testing (Bulk Current Injection)</td>
    </tr>
    <tr>
      <td><ul><a href="/automotive/immunity/tl81000-523">TL 81000 5.2.3 (VW 2021)</a></ul></td>
      <td>Interference immunity (Antenna)</td>
    </tr>
    <tr>
      <td><ul><a href="/automotive/immunity/tl81000-524">TL 81000 5.2.4 (VW 2021)</a></ul></td>
      <td>Stripline (SL)</td>
    </tr>
    <tr>
      <td><ul><a href="/automotive/immunity/tl81000-525">TL 81000 5.2.5 (VW 2021)</a></ul></td>
      <td>Mobile radio communications test</td>
    </tr>
    <tr>
      <td><ul><a href="/automotive/immunity/tl81000-5431">TL 81000 5.4.3.1 (2018, 2021)</a></ul></td>
      <td>Pulse</td>
    </tr>
  </tbody>
</table>
{% endblock %}