{% block content %}

<h4 class="menu" >5.3.5 Artificial network (AN test)</h4>

<table class="atmtv">
    <caption align="top">The HF emissions on power supply cables must be measured as per <a href="/automotive/immunity/cispr25">CISPR 25</a>.</caption>
    <tbody>
        <tr>
            <td><ul>Test conditions:
                <li>The standard test conditions as per section 5.3.3.2 must be applied.</li>
                <li>If the DUT has several power supplies, each power supply must be measured individually.</li>
            </ul></td>
            <td><img src="/automotive/static/images/tl_81000-535/increments.png"></td>
        </tr>
        
        <tr>
            <td><ul>Antennas:
                <li>HL ...: <mark>80 MHz</mark> - 3 GHz</li>
                <li>HL ...: 3 GHz - 6 GHz</li></ul>
                <ul>Amplifiers:
                <li>HL ...: <mark>80 MHz</mark> - 1000 MHz</li>
                <li>HL ...: 800 MHz - 3000 MHz</li>
                <li>HL ...: 2500 MHz - 6000 MHz</li>
            </ul></td>
            <td><img src="/automotive/static/images/tl_81000-535/limits.png"></td>
        </tr>
        <tr>
            <td></td>
            <td>rod_antenna_setup.png</td>
        </tr>
    </tbody>
</table>

{% endblock %}