{% block content %}

<h4 class="menu" >5.3 Interference emission</h4>
<center><img src="/automotive/static/images/tl_81000-536/methods.png"></center>

<table class="atmtv">
    <tbody>
        <tr>
            <td>Antenna systems:</td>
            <td><img src="/automotive/static/images/tl_81000-535/antennas_by_range.png"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <li>rod antenna test setup (<mark>9 kHz - 30 MHz</mark>)</li>
                <li>biconical antenna test setup (<mark>30 - 200 MHz</mark>)</li>
                <li>log periodic antenna test setup (<mark>200 - 1000 MHz</mark>)</li>
                <li>horn antenna test setup (<mark>1000 - 6000 MHz</mark>)</li>
            </td>
        </tr>
        
        <tr>
            <td><ul>Test setup:
                <li>The test setup is described in CISPR 25.</li>
            </ul></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endblock %}