{% block content %}

<h4 class="menu" >5.2.5 Mobile radio communications test</h4>

<table class="atmtv">
    <caption align="top">The requirements as per <a href="/automotive/immunity/11452-9">ISO 11452-9</a> apply.</caption>
    <tbody>
        <tr>
            <td>Test conditions</td>
            <td>The applicable frequency range of the test method is <mark>142 MHz to 6 GHz.</mark></td>
        </tr>
        <tr>
            <td><ul>Antennas:
                <li>HL ...: <mark>80 MHz</mark> - 3 GHz</li>
                <li>HL ...: 3 GHz - 6 GHz</li></ul>
                <ul>Amplifiers:
                <li>HL ...: <mark>80 MHz</mark> - 1000 MHz</li>
                <li>HL ...: 800 MHz - 3000 MHz</li>
                <li>HL ...: 2500 MHz - 600 MHz</li>
            </ul></td>
            <td><img src="/automotive/static/images/tl_81000-525/table00.png"></td>
        </tr>
    </tbody>
</table>

{% endblock %}