{% block content %}

<h1 class="menu">MIL-STD-461G<br>
    5.18 RE102, Radiated emissions, electric field.</h1>

<table>
    <caption align="top">
        The requirement is applicable as follows:
    </caption>
    <thead></thead>
    <tbody>
        <tr align="center">
            <td><img src="/military/static/images/re102g/applicable.png" width="1024"></td>
        </tr>
    </tbody>
</table>

<div class="mil">
<table>
    <caption align="top">
        Limits:
    </caption>
    <thead></thead>
    <tbody>
        <tr>
            <td><img src="/military/static/images/re102g/figure_re102-1.png"></td>
            <td><img src="/military/static/images/re102g/figure_re102-3.png"></td>
        </tr>
        <tr>
            <td><img src="/military/static/images/re102g/figure_re102-2.png"></td>
            <td><img src="/military/static/images/re102g/figure_re102-4.png"></td>
        </tr>
    </tbody>
</table>

<table>
    <caption align="top">
        Calibration:
    </caption>
    <thead></thead>
    <tbody>
        <tr>
            <td colspan="2">Rod antenna</td>
        </tr>
        <tr>
            <td><img src="/military/static/images/re102g/figure_re102-8.png"></td>
            <td><img src="/military/static/images/re102g/rod_check_photo01.png"></td>
        </tr>
        <tr>
            <td colspan="2">Other</td>
        </tr>
        <tr>
            <td><img src="/military/static/images/re102g/figure_re102-5.png"></td>
            <td><img src="/military/static/images/re102g/calibration.png"></td>
        </tr>
        <tr>
            <td>Using the system check path of Figure RE102-5, perform the following evaluation of the overall measurement system from the coaxial cable end used at each antenna to the data output device at 10.5 kHz (only for measurements implemented between 10 kHz and 2 MHz), 2.1 MHz, 12 MHz and 29.5 MHz for active rod antennas, 197 MHz for the biconical antenna, 990 MHz for the large double ridge horn and 17.5 GHz for the small double ridge horn.</td>
            <td><img src="/military/static/images/re102g/calibration_table.png"></td>
        </tr>
    </tbody>
</table>

<table>
    <caption align="top">
        Propagation:
    </caption>
    <thead></thead>
    <tbody>
        <tr>
            <td><img src="/equipment/static/images/hl_5759.png"></td>
            <td><img src="/military/static/images/re102g/propagation_photo.png"></td>
        </tr>
    </tbody>
</table>

<table>
    <caption align="top">
        Test:
    </caption>
    <thead></thead>
    <tbody>
        <tr>
            <td><img src="/military/static/images/re102g/figure_re102-7.png"><br>
            <img src="/military/static/images/re102g/test_rod.png"></td>
            <td><img src="/military/static/images/re102g/figure_re102-6.png"><br>
                <img src="/military/static/images/re102g/table_2.png"></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}