{% block content %}

<h1 class="menu">MIL-STD-461F<br>
    5.5 CE102, conducted emission, power leads, 10 kHz to 10 MHz</h1>

<div class="mil">
<table>
    <caption>
        Caption Caption Caption Caption Caption Caption
    </caption>
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/static/images/hl.png"></td>
            <td><img src="/static/images/hl.png"></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}