{% block content %}

<h1 class="menu">ISO 11452-5 "Stripline (SL)"</h1>
<div class="atmtv">
    <table>
        <caption align="top">
            Caption Caption Caption Caption Caption Caption
        </caption>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/images/hl.png"></td>
                <td><img src="/static/images/hl.png"></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}