{% block content %}

<h1 class="menu">ISO 11452-2</h1>

<div class="atmtv">
    <table>
        <tbody>
            <tr>
                <td>Description</td>
                <td>The International Organization for Standardization (ISO) 11452-2 is a technical standard for the design, manufacture, and use of electronic devices and components.</td>
            </tr>
            <tr>
                <td>Equipment</td>
                <td><img src="/automotive/static/images/11452-2/cart.png"></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}