{% block content %}

<h4 class="menu">R10 rev.6, Annex 9, Appendix 4<br>Immunity of ESAs to electromagnetic radiation, Free field 100-2000 MHz</h4>
<div class="atmtv">
    <table>
        <caption align="top">Description</caption>
        <tbody>
            <tr>
                <td><img src="/automotive/static/images/r10_68/overcover.png"><br>
                    <img src="/automotive/static/images/r10_68/1_2_1.png"></td>
                <td><img src="/automotive/static/images/r10_68/am.png"><br>
                    <mark>AM</mark> (amplitude modulation), with 1 kHz modulation and 80 per cent modulation depth in the 20 to 800 MHz frequency range;<br>
                    <mark>PM</mark> (pulse modulation), Ton 577 µs, period 4,600 µs in the 800 to 2,000 MHz frequency range</td>
                <td><img src="/automotive/static/images/r10_68/pm_type_1.png"></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}                