{% block content %}

<h4 class="menu">R10 rev.6, Annex 9, Appendix 4<br>Immunity of ESAs to electromagnetic radiation, Free field 100-2000 MHz</h4>
<div class="atmtv">
    <table>
        <caption align="top">Description</caption>
        <tbody>
            <tr>
                <td><img src="/automotive/static/images/r10_68/overcover.png"></td>
                <td><img src="/automotive/static/images/r10_68/am.png"></td>
                <td><img src="/automotive/static/images/r10_68/pm_type_1.png"></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}                