{% block content %}

<h1 class="menu">R10.06 / R10.07 - Annex 4</h1>

<div class="atmtv">
    <table>
        <caption>Description</caption>
        <tbody>
            <tr>
                <td><img src="/automotive/static/images/r10-6/r10_6.png"></td>
                <td>This test is performed to ensure the immunity of the electronic system to radiated disturbances.</td>
                <td><img src="/automotive/static/images/r10-6/eut_in_chamber.png"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <caption>Calibration</caption>
        <tbody>
            <tr>
                <td></td>
                <td><ul>
                    <li>The EUT and wiring harness shall be placed on a non-conductive support 50 mm above the ground plane.</li>
                    <li>The test shall be performed with the EUT in a shielded enclosure.</li>
                </ul></td>
                <td><ul>
                    <li>The antenna shall be placed 1 meter from the EUT.</li>
                </ul></td>
            </tr>
            <tr>
                <td><img src="/automotive/static/images/r10-6/anechoic_chamber.png"></td>
                <td><img src="/automotive/static/images/r10-6/eut_setup.png"></td>
                <td><img src="/automotive/static/images/r10-6/antenna_setup.png"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <caption>Test</caption>
        <tbody>
            <tr>
                <td><ul>
                    <li>The test shall be performed over the frequency range 20 MHz to 2000 MHz.</li>
                </ul><br>
                <img src="/automotive/static/images/r10-6/freq_range.png"></td>
                <td><ul>
                    <li>The test level shall be 30 V/m for passenger cars and 20 V/m for commercial vehicles.</li>
                </ul><br>
                <img src="/automotive/static/images/r10-6/test_level.png"></td>
                <td><ul>
                    <li>The test shall be performed with horizontal and vertical polarization.</li>
                