{% block content %}

<h4 class="menu" >5.2.5 Mobile radio communications test</h4>

<table class="atmtv">
    <caption align="top">The requirements as per <a href="/automotive/immunity/11452-9">ISO 11452-9</a> apply.</caption>
    <tbody>
        <tr>
            <td><ul>Approximate duration of the test is 2.5 hour per 1 point
                <li>380-1000 MHz [PM] - 25 min</li>
                <li>1000-3000 MHz [PM] - 50 min</li>
                <li>3000-6000 MHz [PM] - 70 min</li>
                <li>410-470 MHz [FM] - 5 min</li>
                <li>1200-1300 MHz [FM] - 5 min</li>
            </ul></td>
            <td>The applicable frequency range of the test method is <mark>142 MHz to 6 GHz.</mark></td>
        </tr>
        <tr>
            <td><ul>Antennas:
                <li>HL 5439: <mark>80 MHz</mark> - 3 GHz</li>
                <li>HL 7710: 3 GHz - 6 GHz</li></ul>
                <ul>Amplifiers:
                <li>HL 5393: <mark>80 MHz</mark> - 1000 MHz</li>
                <li>HL 5394: 800 MHz - 3000 MHz</li>
                <li>HL 5395: 2500 MHz - 6000 MHz</li>
            </ul>
            <p>Pay attention to EMC32 doesn't support overlapping. You should create the limit files without overlapping, and templates according to these files.</p>
        </td>
            <td><img src="/automotive/static/images/tl_81000-525/table00.png"></td>
        </tr>
    </tbody>
</table>

{% endblock %}