{% block content %}

<h4 class="menu" >5.2.3 Interference Immunity</h4>
<div class="atmtv">
<table>
    <caption align="top">The requirements as per <a href="/automotive/immunity/11452-2">ISO 11452-2</a> apply to the antenna method</caption>
    <tbody>
        <tr>
            <td>Only the sensor is on the table during the calibration.</td>
            <td><img src="/automotive/static/images/tl_81000-523/calibration.png"></td>
        </tr>
        <tr>
            <td>Antennas</td>
            <td><ul><li>1000-4000 MHz - horn antenna (HL 4939)</li>
                    <li>4000-6000 MHz - horn antenna (HL 0765)</li></ul></td>
        </tr>
        <tr>
            <td>Equipment</td>
            <td><ul>
                <li>Generators
                    <ul>
                        <li>(HL 4785)</li>
                        <li>HP above 1 GHz (HL 0661)</li>
                    </ul>
                </li>
                <li>Amplifiers
                    <ul>
                        <li>R&S 0.08-1 GHz (HL 5393)</li>
                        <li>R&S 0.80-3 GHz (HL 5394)</li>
                        <li>R&S 2.50-6 GHz (HL 5394)</li>
                    </ul>
                </li>
                <li>Powermeters
                    <ul>
                        <li>Boonton (HL 2875)</li>
                        <li>... (HL ...)</li>
                    </ul>
                </li>
                <li>Sensors
                    <ul>
                        <li>Narda 604 (HL ...)</li>
                        <li>7000 (HL ...)</li>
                        <li>2000 (HL ...)</li>
                        <li>...000 (HL ...)</li>
                    </ul>
                </li>
                </ul></td>
        </tr>
        <tr>
            <td>Tests from 200 MHz to 3 400 MHz must be performed in each case.<br>
                The additional tests (3400 to 6000 MHz) can be omitted with the purchaser's approval.</td>
            <td><img src="/automotive/static/images/tl_81000-523/table10.png"></td>
        </tr>
        <tr>
            <td>The minimum dwell time is <mark>2 s.</mark></td>
            <td><img src="/automotive/static/images/tl_81000-523/plot_10.png"></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}